/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #45e8e0; /* Color de fondo */
    background-image:
        url("https://www.transparenttextures.com/patterns/black-thread.png"), /* Dos texturas */ 
      url("https://www.transparenttextures.com/patterns/perforated-white-leather.png");
    background-repeat: repeat, repeat; /* Ambas texturas se repiten */
    background-position: center, center; /* Posición inicial */
    animation: moveTexture 60s linear infinite; /* Animación para mover la segunda textura */
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    gap: 20px;
}
/* Animación para mover la segunda textura */
@keyframes moveTexture {
    0% {
      background-position: center, 0% 0%; /* Primera capa fija, segunda comienza en 0% */
    }
    100% {
      background-position: center, 100% 100%; /* Primera capa fija, segunda termina en 100% */
    }
  }

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    display: block;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header img {
    width: 200px;
    padding: 20px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a i {
    color: white;
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

.nav-links li {
    position: relative; /* Necesario para dropdown */
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    color: white;
    padding: 10px 0;
    list-style: none;
    min-width: 150px;
    border-radius: 5px;
    z-index: 10;
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-menu li a:hover {
    background-color: #555;
    border-radius: 3px;
}

.nav-links li:hover .dropdown-menu {
    display: block;
}
/* Estilos del formulario de registro */
.form-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 60px;
}

.form-container {
    width: 35%;
    max-width: 500px; /*Tamaño máximo del formulario */
    padding: 20px;
    background: #6eebe5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    animation: fadeIn 1.2s ease;
}

.form-container:hover {
    box-shadow: 0 0 25px 10px rgba(76, 175, 80, 0.9); /* Aumenta el brillo */
    transform: scale(1.05); /* Incrementa ligeramente el tamaño */
    transition: all 0.5s ease-in-out; /* Suaviza la animación */
    border: 2px solid rgba(76, 175, 80, 0.9); /* Añade un borde brillante */
    background: linear-gradient(135deg, #81c7ba, #669fbb); /* Realza el fondo */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-container h1 {
    margin-bottom: 25px;
    padding: 5px;
    font-size: 28px;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    text-align: left; /* Alinea el texto al lado izquierdo */
}

.form-container input,
.form-container select {
    width: 90%;
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    /* font-size: 16px; */
}

.form-container input:focus,
.form-container select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.form-container button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #4CAF50, #388E3C);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.form-container button:hover {
    background: linear-gradient(135deg, #388E3C, #4CAF50);
    transform: scale(1.05);
}

.terms {
    display: flex;
    width: 30%;
    align-items: center;
    margin: 20px 0;
    font-size: 14px;
    color: #666;
}

.terms label {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
.terms input {
    margin-right: 10px;
}

.terms input {
    margin-right: 10px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
    transition: transform 0.3s, background-color 0.3s;
}

.social-login a.facebook {
    background-color: #4267B2;
}

.social-login a.facebook:hover {
    background-color: #365899;
    transform: scale(1.1);
}

.social-login a.google {
    background-color: #DB4437;
}

.social-login a.google:hover {
    background-color: #C33D2E;
    transform: scale(1.1);
}

.social-login a.twitter {
    background-color: #1DA1F2;
}

.social-login a.twitter:hover {
    background-color: #0D95E8;
    transform: scale(1.1);
}

.search-form {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.search-form input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Ajusta el ancho según sea necesario */
}

.form-image {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center; /* Centrar contenido dentro del contenedor */
    margin-bottom: 10px; /* Espacio entre la sección y otros elementos */
    width: 50%;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.2s ease;
    top: 5%; /* Ajusta según la posición deseada */
}
    
.image-heading {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    top: 5%; /* Ajusta según la posición deseada */
    left: 35%;
    transform: translate(-50%, -50%);
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mayor visibilidad */
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5em; /* Tamaño del texto */
    z-index: 10; /* Asegura que el encabezado esté sobre la imagen */
}

.form-image img {
    max-width: 90%;
    height: 700px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: rotate(-2deg);
    transition: transform 0.3s;
}
.form-image img:hover {
    transform: rotate(0deg) scale(1.05);
}

#preview {
    border: 2px dashed #ddd;
    padding: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
/* estilo para mensaje a la hora de subir foto de perfil */
.photo-input-container {
    position: relative; /* Necesario para posicionar el tooltip */
    display: inline-block; /* Asegura que el tooltip se ajuste al contenido */
}

.tooltip {
    display: none; /* Oculta el mensaje inicialmente */
    position: absolute;
    top: 100%; /* Aparece debajo del input */
    left: 0;
    background-color: #4CAF50; /* Color de fondo del tooltip */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Evita que el texto se divida */
    z-index: 1000;
    margin-top: 5px; /* Espacio entre el input y el tooltip */
}

#photo:hover + .tooltip {
    display: block; /* Muestra el tooltip al pasar el ratón */
}

/* Estilos del mapa */
section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

#map {
    width: 100%;
    height: 400px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 16px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
        text-align: center; /* Centra el contenido */
    }

    .logo img {
        width: 150px; /* Tamaño reducido del logo */
    }

    .nav-links {
        flex-direction: column;
        align-items: center; /* Centra los enlaces */
        gap: 10px;
    }

    .form-section {
        flex-direction: column; /* Acomoda formulario e imagen verticalmente */
        padding: 20px;
    }

    .form-container {
        width: 90%; /* Ocupa casi todo el ancho */
        padding: 15px;
    }

    .form-image img {
        width: 80%;
        margin-top: 20px;
    }

    #map {
        height: 300px; /* Reduce el tamaño del mapa */
    }
}

/* Para móviles (pantallas de hasta 480px) */
@media screen and (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    .logo img {
        width: 120px; /* Logo más pequeño */
    }

    .nav-links {
        font-size: 14px; /* Texto más pequeño */
    }

    .form-container {
        width: 95%; /* Máximo ancho en móviles */
    }

    .form-container h1 {
        font-size: 20px; /* Título más compacto */
    }

    .form-container label,
    .form-container input,
    .form-container button {
        font-size: 14px; /* Ajuste del tamaño de fuentes */
    }

    .form-image img {
        display: none; /* Oculta la imagen para ganar espacio */
    }

    #map {
        height: 250px; /* Tamaño reducido del mapa */
    }
}